/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@font-face {
	font-family: Aller;
	src: url("../fonts/Aller_Lt.ttf");
}

body {
	font-size: 100%;
	font-family: Aller, Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color: #333;
	text-shadow: 0.1em 0.1em 0.1em #eee;
}

header {
	background: #ccc;
	border-bottom: 4px #FF1D1F solid;
	padding: 7px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	vertical-align: middle;
	opacity: 0.9;
}

img.small-logo {
	height: 1.5em;
}

.big-logo, .responsive {
	text-align: center;
}

.big-logo img {
	width: 40em; /* 640 / 16 = 40 */
}

.responsive img {
	height: 18em; /* 300 / 16 = 18 */
}

header a {
	color: #333;
	text-decoration: none;
}

header a:hover {
	color: #666;
	text-decoration: underline;
}

.page {
	padding-top: 4em;
	min-height: 500px;
}

.first {
	padding-top: 5em;
}

.footer {
	height: 300px;
}

.slogan {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.motto {
	text-align: center;
	font-weight: bold;
	color: #33a;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

	header {
		position: relative;
		opacity: 1;
	}

	header div {
		text-align: center;
	}

	.first, .page {
		margin-top: 0;
	}
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}